/* 
    Document   : CSSHelper
    Created on : Mar 16, 2014, 6:14:16 PM
    Author     : Vince Ganev
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-color: #F3F3F3;
    color: #000000;
    font: 12px/1.3 Tahoma, Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}
#headerspace a{
   text-decoration: none;
}
#headerspace{
    height: 43px;
    margin-bottom: 10px;
}
#header-all{
    position: fixed;
    width: 100%;
    height: 43px;
    background-color: #0E398B;
    color: #FFFFFF;
    padding: 0;
    
}
#header-logo{
    float: left;
    padding-left: 20px;
    line-height: 42px;
    font-family: 'Labster', serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #AAAAAA;
}
#header-wraper{
    margin: auto;
    position: relative;
    width: 1000px;
}
#header-buttons{
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    text-align: center;
}
#header-buttons ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#header-buttons li{
    display: inline;
}
#header-buttons a{
    color: #FFFFFF;
    width: 70px;
    height: 38px;
    line-height: 38px;
    margin-top: 2px;
    /*margin-bottom: auto;*/
    border: 1.5px solid #003162;
    display: block;
    font-weight: bold;
    text-shadow: 0 1px #333333;
}
#header-buttons a:hover{
    background-color: #003162;
    box-shadow: 0 0 3px #002953 inset;
}

#content{
    width: 1000px;
    margin: auto;
    /*border: 1px solid;*/
}
#title{
    text-align: center;
    background-color: #E15A00;
    color: #FFFFFF;
/*    padding: 1px;*/
}
#title h1{
    padding: 5px;
}
#left-column{
    float: left;
    margin-right: 16px;
    width: 492px;
    z-index: -1;
    /*background-color: #FFFFFF;*/
}
#right-column{
    float: left;
    width: 492px;
    z-index: -1;
}

.propertyGroup > :first-child, .rightColumnContainer > :first-child{
    margin-top: 0;
}
.propertyGroup > :last-child{
    margin-right: 0 !important;
}
.propertyGroup, .rightColumnContainer{
    /*border: 1px solid black;*/
    background-color: #FFFFFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 4px solid #E1EAFB;
    box-shadow: 0 0 2px #F3F3F3;
    float: left;
    /*padding: 10px;*/
    margin-bottom: 15px;
    display: block;
    width: 99%;
    text-align: center;
}
.propertyGroup h2, .rightColumnContainer h2{
    color: #004785;
    font-size: 20px;
    font-weight: bold;
    height: 34px;
    line-height: 32px;
    background-color: #EEF4FB;
    padding-left: 10px;
    text-shadow: 0 1px #FFFFFF;
    text-align: left;
/*    margin: 0;*/
}
.rightColumnContainer h2{
    margin: 0;
}
.rightColumnContainer textarea{
    overflow: auto;
/*    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;*/
    border-top: 4px solid #E1EAFB;
    border-bottom: 4px solid #E1EAFB;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: auto;
    
}
.propertyGroup input,select{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.groupWraper{
    padding: 10px;
    float: left;
}
.spinner{

    float: left;
    /*display: table;*/
    margin-right: 60px;
    /*padding: 10px;*/
}
.spinnerSmall{
    margin: 0;
}
.spinner ul{
    list-style: none;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    float: left;
}
.spinner *{
    padding: 0;
    margin: 0;
}
.spinner input{
    height: 22px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
    float: left;
    border-radius: 5px 0 0 5px !important;
    -webkit-border-radius: 5px 0 0 5px !important;
    -moz-border-radius: 5px 0 0 5px !important;    
    display: inline-block !important;
}
.spinnerSmall input{
    width: 20px;

}
.spinner ul li:first-child > input{
    border-radius: 0 5px 0 0 !important;
    -webkit-border-radius: 0 5px 0 0 !important;
    -moz-border-radius: 0 5px 0 0 !important;
    /*    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;      */
}
.spinner ul li:last-child > input{
    border-radius: 0 0 5px 0 !important;
    -webkit-border-radius: 0 0 5px 0 !important;
    -moz-border-radius: 0 0 5px 0 !important;
    /*    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;    */
}
.spinner input[type="button"]{
    font-size: 6px;
    text-align: center;
    height: 12px;
    width:18px;
    /*line-height: 11px;*/
}
.spinner li:first-of-type input[type="button"]:active{
    position: relative;
    top: 1px;
}
.spinnerDisabled:active{
    position: static !important;
}
.spinner li:last-of-type input[type="button"]:active{
    position: relative;
    top: -1px;
}
.spinner label{
    float: left;
    /*line-height: 100%;*/
    padding-top: 5px;
    /*vertical-align: baseline;*/
    /*display: inline-block;*/
}
.spinner select{
    margin-top: 5px;
}



.floatRight{
    float: right !important;
}

.clear{
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
}

/*#text > :not(:first-child){
    margin-top: 5px;
}*/
#fontStyle{
    float: left;
}
#fontStyle input{
    margin-left: 50px;
}
/*#italic{
    margin-left: 20px;
}*/

.groupName{
/*    clear: both !important;
    margin-left: auto !important;
    margin-right: auto !important;*/
    text-align: center;
    font-weight: bold;
}

#buttonContainer{
    /*float: left;*/
    /*width: 300px;*/
    height: 150px;
    text-align: center;
    /*background-color: white;*/
    position: relative;
    z-index: -1;
}
#theButton{
/*    margin-top: 10%;*/
    width: 70px;
    height: 30px;
    font-family: "Arial";
    font-size: 12pt;
    position: absolute;
    margin-top: -15px;
    margin-left: -35px;
    top: 50%;
    left: 50%;
    /*border-width: 0;*/
    border:1px solid #000000;
}

#buttonText{
    margin-right: 60px;
}

#cornerTool{
    width: 160px;
    height: 100px;
}
#cornerTool div.spinner:nth-child(even){
    float: right;
}
#cornerExample{
    /*clear: both;*/
    width: 50px;
    height: 50px;
    background-color: #E15A00;
    border: 1px solid #000000;
    margin: auto;
}
#cornerExampleWraper{
    clear:both;
}
#lockWraper{
    float: left;    
    margin-top: 10px;
    margin-bottom: auto;
}

.property{
    
}

.color{
    width: 60px;
    text-align: center;
}
