/* 
    Document   : CSSHelper
    Created on : Mar 16, 2014, 6:14:16 PM
    Author     : Vince Ganev
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-color: #F3F3F3;
    color: #000000;
    font: 12px/1.3 Tahoma, Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}
#headerspace a{
   text-decoration: none;
}
#headerspace{
    height: 43px;
    margin-bottom: 10px;
}
#header-all{
    position: fixed;
    width: 100%;
    height: 43px;
    background-color: #0E398B;
    color: #FFFFFF;
    padding: 0;
    z-index: 10;
    
}
#header-logo{
    float: left;
    padding-left: 20px;
    line-height: 42px;
    font-family: 'Labster', serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #AAAAAA;
}
#header-wraper{
    margin: auto;
    position: relative;
    width: 1000px;
}
#header-buttons{
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    text-align: center;
}
#header-buttons-right{
    float: right;
}
#header-buttons ul, #header-buttons-right ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#header-buttons li, #header-buttons-right li{
    display: inline;
    float: left;
}
#header-buttons a, #header-buttons-right a{
    color: #FFFFFF;
    width: auto;
    height: 38px;
    line-height: 38px;
    margin-top: 2px;
    border: 1.5px solid #003162;
    display: block;
    font-weight: bold;
    text-shadow: 0 1px #333333;
    padding: 0 5px;
}
#header-buttons a:hover, #header-buttons-right a:hover{
    background-color: #003162;
    box-shadow: 0 0 3px #002953 inset;
    position: relative;
    top: -1px;
    left: -1px;
    color: yellowgreen;
}
#header-buttons a:active, #header-buttons-right a:active{
    top: 0;
    left: 0;    
}
#content{
    width: 1000px;
    margin: auto;
}
.title{
    text-align: center;
    background-color: #E15A00;
    color: #FFFFFF;
}
#title h1{
    padding: 5px;
}
#left-column{
    float: left;
    margin-right: 16px;
    width: 492px;
}
#right-column{
    float: left;
    width: 492px;
}

.propertyGroup > :first-child, .rightColumnContainer > :first-child{
    margin-top: 0;
}
/*.propertyGroup > :last-child{
    margin-right: 0 !important;
}*/
.propertyGroup, .rightColumnContainer{
    background-color: #FFFFFF;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 4px solid #E1EAFB;
    box-shadow: 0 0 2px #F3F3F3;
    float: left;
    margin-bottom: 15px;
    display: block;
    width: 99%;
    text-align: center;
}
.verticalColumn{
    float:left;
    margin: 0 20px 10px 20px;   
}
.rightColumnContainer{

}
.propertyGroup h2, .rightColumnContainer h2{
    color: #004785;
    font-size: 20px;
    font-weight: bold;
    height: 34px;
    line-height: 32px;
    background-color: #EEF4FB;
    padding-left: 10px;
    text-shadow: 0 1px #FFFFFF;
    text-align: left;
}
.rightColumnContainer h2{
    margin: 0;
    border-bottom: 4px solid #E1EAFB;    
}
.rightColumnContainer h2:not(:first-child){

    border-top: 4px solid #E1EAFB;    
}
.rightColumnContainer textarea{
    overflow: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: auto;
}
.propertyGroup input,select, .rightColumnContainer input{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.groupWraper{
    padding: 10px;
    float: left;
}
.floatRight{
    float: right !important;
}
.floatLeft{
    float: left;
}

.clear{
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
}

#fontStyle{
    float: left;
}
#fontStyle input{
    margin-left: 50px;
}

.groupName{
    text-align: center;
    font-weight: bold;
}

#buttonContainer{
    height: 150px;
    text-align: center;
    position: relative;
}
.myButton{
    position: absolute;
    top: 50%;
    left: 50%;
}

#cornerTool{
    width: 160px;
    height: 100px;
}
#cornerTool div.spinner:nth-child(even){
    float: right;
}
#cornerExample{
    /*clear: both;*/
    width: 50px;
    height: 50px;
    background-color: #E15A00;
    border: 1px solid #000000;
    margin: auto;
}
#cornerExampleWraper{
    clear:both;
}
#lockWraper{
    float: left;    
    margin-top: 10px;
    margin-bottom: auto;
}
#buttonSave{
    float:right;
    margin: 6px 5px 0 0;
}

.property{
    /*height: 22px;*/
}
.int{
    height: 22px;
}

.color{
    width: 60px;
    height: 22px;
    text-align: center;
}

.elementContainer{
    position: relative;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 200px;
    border: 1px #000000 solid;
}
.btnDelete, .btnOpen{
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.btnOpen{
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.btnDelete{
    position: absolute;
    bottom: 0;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-decoration: none;
    line-height: 16px;
    display: block;
    text-align: center;
    height: 16px;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 1px 6px;
    margin: 2px;
    border: 2px outset buttonface;
    background-color: buttonface;

}

.plus-minus{
    float: right;
    margin-right: 10px;
    cursor: pointer;
    width: 20px;
    text-align: center;
    font-family: Courier;
    font-size: 150%;
}

.remove-margin{
    margin: 0;
}

#palette{
    padding: 10px;
}
#palette input{
    width: 60px;
    text-align: center;
}

#paletteColors input{
    cursor: pointer;
    margin: 1px;
    float: left;    
}

.redText{
    color: #FF0000;
}

#savePageMsg{
    padding-top: 100px;
    font-size: 120%;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    
}
#backButton{
    width: 70px;
    height: 30px;
    background-color: #0E398B;
    color: #FFFFFF;
    border-width: 0px;
    border-style: solid;
    border-color: #000001;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    text-decoration: none;
    line-height: 30px;
    display: block;
    text-align: center;
    margin: 10px auto;
    box-shadow: 2px 2px 5px #888888;
}
#savePageMsg input[type=submit]{
    height: 30px;
    background-color: #0E398B;
    color: #FFFFFF;
    border-width: 0px;
    border-style: solid;
    border-color: #000001;
    border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    margin-left: 15px;
}
#backButton:active, #savePageMsg input[type=submit]:active{
    position: relative;
    top: 1px;
    left: 1px;
}
#backButton:hover, #savePageMsg input[type=submit]:hover{
    color: yellowgreen;
}

#footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    /*text-align: center;*/
    padding: 0 0 5px 20px;
}



