/* 
    Document   : CSSHelper
    Created on : Mar 16, 2014, 6:14:16 PM
    Author     : Vince Ganev
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-color: #F3F3F3;
    color: #626262;
    font: 12px/1.3 Tahoma, Arial, Helvetica, sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
}
#headerspace a{
   text-decoration: none;
}
#headerspace{
    height: 43px;
    margin-bottom: 10px;
}
#header-all{
    position: fixed;
    width: 100%;
    height: 43px;
    background-color: #0E398B;
    color: #FFFFFF;
    padding: 0;
    
}
#header-wraper{
    margin: auto;
    position: relative;
    width: 1000px;
}
#header-buttons{
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    text-align: center;
}
#header-buttons ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#header-buttons li{
    display: inline;
}
#header-buttons a{
    color: #FFFFFF;
    width: 70px;
    height: 38px;
    line-height: 38px;
    margin-top: 2px;
    /*margin-bottom: auto;*/
    border: 1.5px solid #003162;
    display: block;
    font-weight: bold;
    text-shadow: 0 1px #333333;
}
#header-buttons a:hover{
    background-color: #003162;
    box-shadow: 0 0 3px #002953 inset;
}

#content{
    width: 1000px;
    margin: auto;
}
#left-column{
    float: left;
    margin-right: 16px;
    width: 492px;
}
#right-column{
    float: left;
    width: 492px;
}

#properties{
    float: left;
}

.spinner{
/*    margin-left: 50px;
    margin-top: 50px;*/
    /*background: red;*/
    float: left;
    display: table;
    margin-right: 20px;
}
.spinner ul{
    list-style: none;
    display: inline-block;
    line-height: 0;
    vertical-align: middle;
    float: left;
}
.spinner * {
    padding: 0;
    margin: 0;
}
.spinner input{
    height: 20px;
    width: 40px;
    vertical-align: middle;
    float: left;
    text-align: center;
    border: 0;    
    /*display: inline-block !important;*/
}
.spinner input[type="text"]{
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px; 
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;   
}
.spinner ul li:last-child > input{
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;      
}
.spinner ul li:first-child > input{
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;    
}
.spinner input[type="button"]{
    font-size: 8px;
    text-align: center;
    height: 10px;
    width:13px;
}
.spinner li:first-of-type input[type="button"]:active{
    position: relative;
    top: 1px;
}
.spinner li:last-of-type input[type="button"]:active{
    position: relative;
    top: -1px;
}
.spinner label{
    float: left;
    /*padding-top: 5px;*/
    /*vertical-align: baseline;*/
    /*display: inline-block;*/
}
.spinner select{
    margin-top: 5px;
}

.propertyGroup > :first-child{
    margin-top: 0;
}
.propertyGroup > :last-child{
    margin-right: 0 !important;
}
.propertyGroup{
    /*border: 1px solid black;*/
    background: activeborder;
    float: left;
    padding: 10px;
    margin: 10px;
}

.floatRight{
    float: right !important;
}

.clear{
    clear: both;
    margin: 0;
    padding: 0;
    height: 0;
}

#text > :not(:first-child){
    margin-top: 5px;
}
#fontStyle input{
    margin-top: 10px;
}
#italic{
    margin-left: 20px;
}

.groupName{
/*    clear: both !important;
    margin-left: auto !important;
    margin-right: auto !important;*/
    text-align: center;
    font-weight: bold;
}

#buttonContainer{
    float: left;
    width: 300px;
    height: 300px;
    text-align: center;
}
#theButton{
    margin-top: 10%;
    width: 70px;
    height: 30px;
    font-family: "Arial";
    font-size: 12pt;
}
